@use "styleGuide" as var;

.imgGallery {
    display: flex;
    justify-content: space-between;
    margin: 10rem 0;
    li {
        flex-basis: calc(100% / 3 - 1rem);
        position: relative;
        img {
            height: 100%;
            width: 100%;
        }
    }
}

.imgGallery li:nth-child(2) {
    top: -1.5rem;
}

.absoluteText {
    background: var.$white;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
    font-size: 1rem;


    position: absolute;
    bottom: 0.5rem;
    
}

@media(max-width:600px) {
    .imgGallery {
        flex-wrap: wrap;
        justify-content: center;
        margin: 5rem 0;

        li {
            flex-basis: 80%;
            margin-bottom: 1rem;
        }
    }
    
    .absoluteText {
        padding: 0.5rem 1rem;
    }

    .imgGallery li:nth-child(2) {
        top: 0;
    }
}

@media(max-width:320px) {
    .absoluteText {
        font-size: 0.75rem;
        padding: 0.25rem;
        bottom: 0.5rem;
    }
}
