@use "styleGuide" as var;

.wrapper {
    max-width: 72rem;
    width: 95%;
    margin: 0 auto;
}

.homeNavBar {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    align-items: center;
    font-size: 1rem;
    ul {
        display: flex;
        justify-content: space-between;
        width: 25%;
        margin-right: 5rem;
        a {
            text-decoration: none;
            color: var.$darkGrey;
        }
    }
}

.headingContainer {
    background: url(../assets/home.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;

    .headingText {
        width: 25%;
        margin-left: 10rem;
        color: var.$darkGrey;
        h1 {
            font-weight: 500;
            font-size: 3.5rem;
            margin: 0 0;
            padding-top: 50%;
        }
        
        p {
            color: var.$lightGrey;
            font-weight: 400;
            font-size: 1rem;
        }
    }
    
}

