html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background: #fff;
  text-decoration: none;
  border: 0.05rem solid #333;
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}

.wrapper {
  max-width: 72rem;
  width: 95%;
  margin: 0 auto;
}

.wrapperSmall {
  max-width: 72rem;
  width: 65%;
  margin: 0 auto;
}

.wrapperMedium {
  max-width: 72rem;
  width: 80%;
  margin: 0 auto;
}

h2 {
  color: #333;
  font-weight: 500;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

p {
  font-weight: 400;
}

.homeNavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}
.homeNavBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  margin-right: 5rem;
}
.homeNavBar ul a {
  text-decoration: none;
  color: #333;
}
.homeNavBar img:nth-of-type(3) {
  width: 10%;
  display: none;
}

.headingContainer {
  background: url(../assets/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.headingContainer .wrapper {
  width: 70%;
  color: #333;
  padding-top: 10rem;
}
.headingContainer .wrapper h1 {
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}
.headingContainer .wrapper p {
  color: #666;
  font-weight: 400;
  font-size: 1rem;
  width: 30%;
}

@media (max-width: 600px) {
  .homeNavBar img {
    width: 20%;
  }
  .homeNavBar img:nth-of-type(3) {
    display: block;
  }
  .homeNavBar ul {
    display: none;
  }
  .homeNavBar img:nth-of-type(2) {
    display: none;
  }
  .headingContainer {
    height: auto;
  }
  .headingContainer .wrapper {
    width: 70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .headingContainer .wrapper h1 {
    font-size: 2rem;
  }
  .headingContainer .wrapper p {
    width: 50%;
    font-size: 0.75rem;
  }
}
@media (max-width: 320px) {
  .homeNavBar img {
    width: 30%;
  }
  .headingContainer .wrapper p {
    width: 60%;
  }
}
.imgGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10rem 0;
}
.imgGallery li {
  -ms-flex-preferred-size: calc(33.3333333333% - 1rem);
      flex-basis: calc(33.3333333333% - 1rem);
  position: relative;
}

.imgGallery li:nth-child(2) {
  top: -1.5rem;
}

.absoluteText {
  background: #fff;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  bottom: 0.5rem;
}

@media (max-width: 600px) {
  .imgGallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5rem 0;
  }
  .imgGallery li {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin-bottom: 1rem;
  }
  .absoluteText {
    padding: 0.5rem 1rem;
  }
  .imgGallery li:nth-child(2) {
    top: 0;
  }
}
@media (max-width: 320px) {
  .absoluteText {
    font-size: 0.75rem;
    padding: 0.25rem;
    bottom: 0.5rem;
  }
}
.featuredSale {
  margin-bottom: 5rem;
  text-align: center;
}
.featuredSale h2 span {
  border-bottom: 0.2rem solid #333;
}

button {
  margin: 3rem 0 2rem;
}

.saleGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.saleGallery li {
  -ms-flex-preferred-size: calc(20% - 1rem);
      flex-basis: calc(20% - 1rem);
  position: relative;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}
.saleGallery li p {
  text-align: left;
  color: #333;
  margin: 0 1rem;
}

.saleGallery .imgInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem 1rem 0.5rem 0;
  text-align: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.saleGallery .imgInfo p {
  color: #666;
  width: 85%;
  font-size: 0.75rem;
}
.saleGallery .imgInfo img {
  width: 15%;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
}

.img600 .absoluteTextSale,
.img600 .absoluteTextNew {
  background: #eba6aa;
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 0.5rem;
}

.img600 .absoluteTextNew {
  background: #88cce2;
}

@media (max-width: 600px) {
  .featuredSale h2 {
    font-size: 1.5rem;
  }
  button {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    margin: 2rem 0 0;
  }
  .img600 .absoluteTextSale,
  .img600 .absoluteTextNew {
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    top: 0.25;
  }
  .saleGallery li {
    -ms-flex-preferred-size: calc(50% - 1rem);
        flex-basis: calc(50% - 1rem);
    margin-bottom: 1rem;
    position: relative;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
  }
  .saleGallery li p {
    text-align: left;
    color: #333;
    margin: 0 1rem;
  }
  .saleGallery .imgInfo p {
    color: #666;
    width: auto;
    font-size: 1rem;
  }
  .saleGallery .imgInfo img {
    margin-top: 1rem;
    width: 15%;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
  }
}
@media (max-width: 320px) {
  .saleGallery .imgInfo p {
    color: #666;
    width: auto;
    font-size: 0.75rem;
  }
  .saleGallery .imgInfo img {
    margin-top: 1rem;
    width: 25%;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
  }
}
.saleLinkImages .wrapperSmall ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}
.saleLinkImages .wrapperSmall ul .img1 {
  width: 33%;
  position: relative;
}
.saleLinkImages .wrapperSmall ul .img1 .absoluteTextSaleUpTo {
  background: #fff;
  text-transform: uppercase;
  padding: 0.25rem 0.75rem;
  margin: 0;
  text-align: center;
  font-size: 0.75rem;
  color: #d7b89c;
  position: absolute;
  bottom: 7rem;
  right: 5rem;
}
.saleLinkImages .wrapperSmall ul .img1 .fiftyOff {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  position: absolute;
  bottom: 1rem;
  right: 3rem;
}
.saleLinkImages .wrapperSmall ul .img1 a {
  position: absolute;
  text-decoration: none;
  color: #fff;
  bottom: 2rem;
  right: 4.35rem;
}
.saleLinkImages .wrapperSmall ul .img2 {
  width: 63.5%;
  position: relative;
}
.saleLinkImages .wrapperSmall ul .img2 .absoluteTextThirtyOff {
  position: absolute;
  text-align: center;
  border: 0.05rem solid #fff;
  top: 2rem;
  right: 6.25rem;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
}
.saleLinkImages .wrapperSmall ul .img2 .absoluteTextThirtyOff span {
  font-weight: 700;
  font-size: 2.5rem;
}

@media (max-width: 600px) {
  .saleLinkImages .wrapperSmall ul {
    display: block;
    margin-bottom: 5rem;
  }
  .saleLinkImages .wrapperSmall ul .img1 {
    width: 100%;
  }
  .saleLinkImages .wrapperSmall ul .img1 .absoluteTextSaleUpTo {
    bottom: 9rem;
    right: 6.5rem;
  }
  .saleLinkImages .wrapperSmall ul .img1 .fiftyOff {
    bottom: 2.5rem;
    right: 4.5rem;
  }
  .saleLinkImages .wrapperSmall ul .img1 a {
    bottom: 3.5rem;
    right: 6rem;
  }
  .saleLinkImages .wrapperSmall ul .img2 {
    width: 100%;
  }
  .saleLinkImages .wrapperSmall ul .img2 .absoluteTextThirtyOff {
    margin: 0 0;
    top: 1rem;
    right: 3.25rem;
    font-size: 1rem;
    padding: 0.25rem 0.25rem;
  }
}
@media (max-width: 320px) {
  .saleLinkImages .wrapperSmall ul .img1 .absoluteTextSaleUpTo {
    bottom: 4.75rem;
    right: 3.25rem;
    font-size: 0.5rem;
    padding: 0.1rem 0.5rem;
  }
  .saleLinkImages .wrapperSmall ul .img1 .fiftyOff {
    bottom: 1rem;
    right: 2.25rem;
    font-size: 1.5rem;
  }
  .saleLinkImages .wrapperSmall ul .img1 a {
    bottom: 1.75rem;
    right: 3.5rem;
    font-size: 0.5rem;
  }
  .saleLinkImages .wrapperSmall ul .img2 .absoluteTextThirtyOff {
    margin: 0 0;
    top: 0.35rem;
    right: 2rem;
    font-size: 0.5rem;
  }
  .saleLinkImages .wrapperSmall ul .img2 .absoluteTextThirtyOff span {
    font-size: 1.5rem;
  }
}
.instagramText {
  text-align: center;
}
.instagramText h2 {
  margin: 0 0;
  font-weight: 500;
}
.instagramText p {
  color: #666;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.instagramGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}
.instagramGallery ul li {
  -ms-flex-preferred-size: calc(20% - 1rem);
      flex-basis: calc(20% - 1rem);
}

@media (max-width: 600px) {
  .instagramText h2 {
    font-size: 1.5rem;
  }
  .instagramText p {
    font-size: 0.75rem;
  }
  .instagramGallery ul li {
    -ms-flex-preferred-size: calc(50% - 1rem);
        flex-basis: calc(50% - 1rem);
    margin-bottom: 1rem;
  }
}
footer {
  background: #333;
  padding: 2.5rem 0 1.5rem;
}
footer .footerNovas img {
  margin-bottom: 1.25rem;
}
footer h3 {
  color: #fff;
  margin-top: 0;
  font-weight: 500;
}
footer p {
  margin: 0.5rem 0;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footerContainer li {
  -ms-flex-preferred-size: calc(25% - 1rem);
      flex-basis: calc(25% - 1rem);
}

.svgIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.75rem;
}
.svgIcon li {
  -ms-flex-preferred-size: calc(33.3333333333% - 1rem);
      flex-basis: calc(33.3333333333% - 1rem);
  margin-right: 0.5rem;
}
.svgIcon li img {
  width: 40%;
  height: 30%;
}

.footerContact ul li,
.footerProfile ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footerContact ul li img,
.footerProfile ul li img {
  width: 7.5%;
  margin-right: 0.5rem;
}
.footerContact ul li p,
.footerProfile ul li p {
  margin: 0.25rem 0;
}

input[type=text] {
  color: #666;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  border: none;
  border-bottom: 0.05rem solid #666;
  width: 80%;
  padding-bottom: 0.25rem;
  background: #333;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 600px) {
  footer .footerNovas img {
    margin-bottom: 1.25rem;
    margin-top: 0%;
  }
  footer h3 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  footer p {
    font-size: 0.65rem;
  }
  .footerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .footerContainer li {
    -ms-flex-preferred-size: calc(25% - 2rem);
        flex-basis: calc(25% - 2rem);
  }
  .footerContact ul li img,
  .footerProfile ul li img {
    width: 5%;
  }
}
@media (max-width: 320px) {
  footer .footerContainer li {
    -ms-flex-preferred-size: calc(33.3333333333% - 0.75rem);
        flex-basis: calc(33.3333333333% - 0.75rem);
  }
  footer .footerContact ul li img,
  footer .footerProfile ul li img {
    width: 10%;
  }
}
.contactHeadingContainer {
  background: url(../assets/contact-us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.contactHeadingContainer .wrapper {
  width: 65%;
  color: #333;
  padding: 4rem 0;
}
.contactHeadingContainer .wrapper h1 {
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}

@media (max-width: 600px) {
  .contactHeadingContainer {
    height: auto;
  }
  .contactHeadingContainer .wrapper h1 {
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  .contactHeadingContainer {
    height: 7rem;
  }
  .contactHeadingContainer .wrapper {
    padding: 2rem 0;
  }
  .contactHeadingContainer .wrapper h1 {
    font-size: 1.5rem;
  }
}
.contactSubmissions .wrapper {
  width: 65%;
  margin-top: 4rem;
}
.contactSubmissions .wrapper input[type=text] {
  color: #666;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  border: none;
  border-bottom: 0.05rem solid #666;
  padding-bottom: 0.25rem;
  background: #fff;
  width: 40%;
}
.contactSubmissions .wrapper form:nth-child(3) input[type=text] {
  padding-bottom: 2rem;
}

input[type=submit] {
  color: #666;
  border: 0.05rem solid #666;
  background: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

@media (max-width: 600px) {
  .contactSubmissions .wrapper input[type=text] {
    width: 60%;
  }
}
@media (max-width: 320px) {
  .contactSubmissions .wrapper input[type=text] {
    width: 80%;
  }
}