html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background: #fff;
  text-decoration: none;
  border: 0.05rem solid #333;
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}

.wrapper {
  max-width: 72rem;
  width: 95%;
  margin: 0 auto;
}

.wrapperSmall {
  max-width: 72rem;
  width: 65%;
  margin: 0 auto;
}

.wrapperMedium {
  max-width: 72rem;
  width: 80%;
  margin: 0 auto;
}

h2 {
  color: #333;
  font-weight: 500;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

.homeNavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}
.homeNavBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  margin-right: 5rem;
}
.homeNavBar ul a {
  text-decoration: none;
  color: #333;
}

.headingContainer {
  background: url(../assets/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.headingContainer .wrapper {
  width: 70%;
  color: #333;
  padding-top: 6.5rem;
}
.headingContainer .wrapper h1 {
  font-weight: 500;
  font-size: 3.5rem;
  margin: 0;
}
.headingContainer .wrapper p {
  color: #666;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  width: 30%;
}

.imgGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10rem 0;
}
.imgGallery li {
  -ms-flex-preferred-size: calc(33.3333333333% - 1rem);
      flex-basis: calc(33.3333333333% - 1rem);
  position: relative;
}
.imgGallery li img {
  max-width: 100%;
  width: auto;
  height: 100%;
}

.imgGallery li:nth-child(2) {
  top: -1.5rem;
}

.absoluteText {
  background: #fff;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  bottom: 0.5rem;
}

.featuredSale {
  margin-bottom: 5rem;
  text-align: center;
}
.featuredSale h2 span {
  border-bottom: 0.2rem solid #333;
}

button {
  margin: 3rem 0 0;
}

.saleGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.saleGallery li {
  -ms-flex-preferred-size: calc(20% - 1rem);
      flex-basis: calc(20% - 1rem);
  position: relative;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
}

.imgInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem 0.5rem;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.imgInfo p {
  color: #333;
  width: 85%;
  margin: 0 0;
  font-size: 1rem;
}
.imgInfo p span {
  color: #666;
  font-size: 0.75rem;
}
.imgInfo img {
  width: 15%;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
}

.absoluteTextSale,
.absoluteTextNew {
  background: #eba6aa;
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 0.5rem;
}

.absoluteTextNew {
  background: #88cce2;
}

.saleLinkImages .wrapperSmall ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}
.saleLinkImages .wrapperSmall ul .img1 {
  width: 33%;
  position: relative;
}
.saleLinkImages .wrapperSmall ul .img1 .absoluteTextSaleUpTo {
  background: #fff;
  text-transform: uppercase;
  padding: 0.25rem 0.75rem;
  margin: 0;
  text-align: center;
  font-size: 0.75rem;
  color: #d7b89c;
  position: absolute;
  bottom: 7rem;
  right: 5rem;
}
.saleLinkImages .wrapperSmall ul .img1 .fiftyOff {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  position: absolute;
  bottom: 1rem;
  right: 3rem;
}
.saleLinkImages .wrapperSmall ul .img1 a {
  position: absolute;
  text-decoration: none;
  color: #fff;
  bottom: 2rem;
  right: 4.35rem;
}
.saleLinkImages .wrapperSmall ul .img2 {
  width: 63.5%;
  position: relative;
}
.saleLinkImages .wrapperSmall ul .img2 .absoluteTextThirtyOff {
  position: absolute;
  text-align: center;
  border: 0.05rem solid #fff;
  top: 2rem;
  right: 5rem;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
}
.saleLinkImages .wrapperSmall ul .img2 .absoluteTextThirtyOff span {
  font-weight: 700;
  font-size: 2.5rem;
}

.instagramText {
  text-align: center;
}
.instagramText h2 {
  margin: 0 0;
  font-weight: 500;
}
.instagramText p {
  color: #666;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.instagramGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}
.instagramGallery ul li {
  -ms-flex-preferred-size: calc(20% - 1rem);
      flex-basis: calc(20% - 1rem);
}

footer {
  background: #333;
  padding: 5rem 0;
}
footer .footerNovas img {
  margin-bottom: 1.25rem;
}
footer h3 {
  color: #fff;
  margin-top: 0;
  font-weight: 500;
}
footer p {
  margin: 0.5rem 0;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footerContainer li {
  -ms-flex-preferred-size: calc(25% - 1rem);
      flex-basis: calc(25% - 1rem);
}

.svgIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.75rem;
}
.svgIcon li {
  -ms-flex-preferred-size: calc(33.3333333333% - 1rem);
      flex-basis: calc(33.3333333333% - 1rem);
  margin-right: 0.5rem;
}
.svgIcon li img {
  width: 40%;
  height: 30%;
}

.footerContact ul li,
.footerProfile ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footerContact ul li img,
.footerProfile ul li img {
  width: 7.5%;
  margin-right: 0.5rem;
}
.footerContact ul li p,
.footerProfile ul li p {
  margin: 0.25rem 0;
}

input[type=text] {
  color: #666;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  border: none;
  border-bottom: 0.05rem solid #666;
  width: 80%;
  padding-bottom: 0.25rem;
  background: #333;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}